*{
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
    transition: .4s;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* header */

#header{
    padding: 25px 0;
    -webkit-box-shadow: 10px 12px 15px -11px rgba(34, 60, 80, 0.49);
    -moz-box-shadow: 10px 12px 15px -11px rgba(34, 60, 80, 0.49);
    box-shadow: 10px 12px 15px -11px rgba(34, 60, 80, 0.49);
    background-color: white ; 

    /* position: fixed;
    width: 100%;
    z-index: 1; */

    position: sticky;
    top: 0;
    z-index: 100;
}

.header-nav h1 {
    color: black;
    font-size: 28px;
    font-weight: 700;
    padding-right: 64px;

}

.header-nav a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    transition: .4s;
    padding-right: 52px;
}

.header-nav a:hover{
    text-decoration-line: underline;
    color: red;
  
}


.header-btn button{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    border: 2px solid  #FF4343;
    margin: 0 10px;
}

.header-btn button:hover{
    border: 2px solid  #FF4343;
    background-color: transparent;
    color: #FF4343;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

/* hero */

#hero{
    padding: 95px 0 0 0;
    background: #100E14;
}

.hero h1 {
    color: #FFF;
    text-align: center;
    font-size: 63px;
    font-weight: 400;
}

.hero p {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 44px 0 73px 0;
}

.hero button {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.hero button ion-icon{
    padding-left: 12px;
    font-style: 25px;
}

.hero h6{
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 19px 0 61px 0;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.hero-image-two{
    position: absolute;
    top: 0;
   right: 97px;
}

/* phone */
#phone{
    background: #121118;
    padding-top: 50px;

}

.phone_content_text h1{
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    width: 442px;
    padding-bottom: 38px;
  
}

.phone_content_text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-weight: 400;
    width: 452px;
 }


.phone_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.phone_imageOne {
    position: absolute;
    top: 130px;
    right: 70px;

}


.phone_imageTwo {
    position: relative;
    z-index: 1;
}

/* enrich */

#enrich{
    padding: 180px 90px;
    background: #121118;
}

.enrich_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.enrich_content_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.enrich_imageOne{
    position: absolute;
}

.enrich_content_text h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    width: 462px;
    padding-bottom: 38px;
}

.enrich_content_text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    width: 524px;
}

.enrich_content_text p b {
    color: white;
}

/* add */

#add {
    padding: 90px 0;
    background: #121118;
}

.add_content h1 {
    color: #FFF;
    font-size: 54px;
    font-weight: 400;
    width: 404px;
    padding-bottom: 38px;
}

.add_content p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    width: 526px;
}

.add_content p b {
    color: #FFF;
}

/* add */
.add_content_block {
    width: 571px;
    height: 367px;
    background: #27252e;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_content_blockOne {
    width: 75%;
    height: 75px;
    padding-top: 20px;
    background: #161617;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 10px 0;
    -webkit-box-shadow: 1px 0px 41px 23px rgba(212, 50, 34, 0.2);
-moz-box-shadow: 1px 0px 41px 23px rgba(212, 50, 34, 0.2);
box-shadow: 1px 0px 41px 23px rgba(212, 50, 34, 0.2);
}    

.icon {
    width: 40px;
    height: 40px;
    background: #2d2d2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.add_tittle h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.add_tittle h5 {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.add_content_blockOne button {
    padding: 17px 30px;
    background: #fc4355;
    border-radius: 15px;
}

/* share */

#share {
    padding: 90px 0px;
    background: #121118;
}

.share_title  h1{
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    width: 445px;
    padding-bottom: 38px;
}

.share_title p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 400;
    width: 500px;
}

.share_title p b {
    color: white;

}

.share_net {
    width: 562px;
    height: 350px;
    background: #1d1c27;
    border-radius: 30px;
    display: flex;
    align-items:end;
    justify-content: end;
    position: relative;
}

.share_net div {
    width: 75px;
    height: 280px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: .4s;
}

.share_net div:hover{
    transform: translateY(-50px);
    z-index: 1;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 41px 23px rgba(246, 240, 237, 0.2);
-moz-box-shadow: 1px 0px 41px 23px rgba(246, 240, 237, 0.2);
box-shadow: 1px 0px 41px 23px rgba(246, 240, 237, 0.2);
}

.youtube{
    background: #fa000e;
    border-radius: 20px 0 0 0;
    right: 420px;
}

.instagram {
    background: #d2005a;
    border-radius: 20px 0 0 0;
    right: 360px;
}

.twitch {
    background: #8240f5;
    border-radius: 20px 0 0 0;
    right: 300px;
}

.tiktok{
    background: #020203;
    border-radius: 20px 0 0 0;
    right: 240px;
}

.twitter{
    background: #029bed;
    border-radius: 20px 0 0 0;
    right: 180px;
}

.linkedin{
    background: #025e8e;
    border-radius: 20px 0 0 0;
    right: 120px;
}

.mail{
    background: #234e58;
    border-radius: 20px 0 0 0;
    right: 60px;
}

.whatsapp{
    background: #41ca5b;
    border-radius: 20px 0 30px 0;
    right: 0;
}

.share_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* trust */

#trust {
    padding: 70px 0;
    background: #121118;
}

.trust h1 {
    color: #FFF;
    text-align: center;
    font-size: 61px;
    font-weight: 400;
    line-height: 83px;
    width: 510px;
    margin: 0 auto;
    padding-bottom: 38px;
}

.trust_line {
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 38px auto 34px auto; 
}
  
.trust p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 37.8px;
    width: 617px;
    margin: 0 auto;
   
}


.trust_block_text h3{
    color: #FFF;
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    line-height: 34.8px;
    animation: text .4s alternate linear ;
   
}

.trust_block_text h4{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0 2px 0;
    animation: text .4s alternate linear;
}

.trust_block_text h5{
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 50px;
    animation: text .4s alternate linear;
}


.trust_blocks{
    width: 19%;
    position: relative;
    transition: .5s;
}


.trust_blocks:hover>.trust_block_text{
    display: block;
}

@keyframes text {
    0%{
        transform: translateY(30px);
    }
}

.trust_blocks img {
    width: 100%;
}

.trust_block_text{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;

}

.trust_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 88px;
}



/* course */
#course{
    padding: 60px  0;
    background: #121118;
}

.course h3{
    color: #8BFFB0;
    font-size: 22px;
    font-weight: 400;
}

.course h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 83.2px;
    width: 787px;
    padding: 21px 0 32px 0;
}

.course p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    line-height: 39.2px;
    width: 904px;
    padding-bottom: 70px;
}


.course {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course img {
    animation: course 1s infinite linear;
   
}

@keyframes course {
   0%{
    opacity: 0;
   }
}

/* block */

#block{
    background: #121118;
    padding-top: 60px;

}

.block-one{
    width: 75%;
    height: 433px;
    background: #1D1B24;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-one h1 {
    color: #FFF;
    font-size: 63px;
    font-weight: 400;
    

}


.block-one p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 27px;
    font-weight: 400;
    
}

.block-one button {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    padding: 15px 25px;
    background: #FF4343;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.block-one button ion-icon{
    font-size: 25px;
    padding-left: 12px;
}

/* can */

#can{
    background: url(./images/phone.png);
    min-height: 60vh;
}

.can-bg{
    background: linear-gradient(180deg, #1D1B24 0%, rgba(0, 0, 0, 0.00) 100%);

}

.can h1{
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    line-height: 48.837px; 
    width: 701px;
}

.can p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 23px;
    font-weight: 400;
    
}

.can{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 14px;
}

/* featured-courses */

#featured{
    background: #0A0A0A;;
    padding: 100px 0;
}

.featured h1{
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    padding-bottom: 100px;
}

.featured-block-one-img-text h4{
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 14px;
 }

 .featured-block-one-img-text div ion-icon{
    color: white;
    font-size: 25px;
    padding-right: 10px;
 }

.featured-block-one-img-text  h6{
    color: #FFF;
    font-size: 13px;
    font-weight: 400;

}

.featured-block-one-img-text div{
    display: flex;
    align-items: center;
}

.featured-block-one-img{
    position: relative;
    width: 40%; 
    height: 450px;
}

.featured-block-one-img-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.features-block-one-title{
    width: 60%;
    height: 450px;
    background: #8be8a9;
    position: relative;
    padding-left: 20px;
}

.features-block-one-title h4{
    color: #95FEC1;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 17px 0;
  
}

.features-block-one-title h2{
    color: #FFF;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    width: 90%;
}

.features-block-one-title p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;  
    width: 90%;
    padding-top: 23px; 
}

.featured-block-one{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 48%;
}

.featured-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-block-one-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features-block-one-title div h5{
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
}

.features-block-one-title div ion-icon {
    font-size: 35px;
    color: white;
    padding-left: 14px;
}

.features-block-one-title div {
    display: flex;
    align-items: center;
}

.features-block-one-title div{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

/* footer */

